@import "global/variables.styl"

@import "bibl/main.styl"
@import "bibl/menu.styl"
@import "bibl/promo.styl"
@import "bibl/modules.styl"
@import "bibl/photo.styl"
@import "bibl/workshop.styl"
@import "bibl/telegram.styl"
@import "bibl/possibility.styl"
@import "bibl/speaker.styl"
@import "bibl/answer.styl"
@import "bibl/speech.styl"
@import "bibl/footer.styl"


@import "bibl/slick-theme.css"
@import "bibl/slick.css"

@import "bibl/modal.styl"